.bg-header {
  background-color: rgb(109, 40, 217);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 900;
}

.columnas {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 80rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.precio {
  font-weight: 900;
}

.mybutton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: rgb(109, 40, 217);
  padding: 0.75rem;
  background-color: rgb(167, 139, 250);
}

.p5 {
  padding: 1.25rem;
}

.space {
  margin-top: calc(0.75rem * calc(1 - 0));
  margin-bottom: calc(0.75rem * 0);
  margin-top: 2.5rem;
}

.borde {
  border-width: 1px;
  border-style: dashed;
  border-color: rgb(203, 213, 225);
  border-radius: 0.5rem;
  margin-top: calc(2.5rem * calc(1 - 0));
  margin-bottom: calc(2.5rem * 0);
}

.btnDelete {
  background-color: #DC2626;
  font-weight: 900;
  color: #ffffff;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
}

.precuenta {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  border-top-width: 1px;
  border-color: #8e16ea;
}